.belt-wrapper {
  background:
    radial-gradient(ellipse 20% 70% at 35% center, rgb(41, 125, 70, 0.25) 0%, transparent 100%),
    radial-gradient(ellipse 20% 70% at 65% center, rgb(41, 125, 70, 0.25) 0%, transparent 100%),
    radial-gradient(ellipse 35% 70% at center, rgb(41, 125, 70, 0.35) 0%, transparent 80%);
  border-radius: 1rem;
  padding: 1.5rem 0;
}